/* Style for the Edit Student Form Container */
h2 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for Labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style for Input Fields */
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style for Submit Button */
  button[type="submit"] {
    background-color: #32bba9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #22776c;
  }
  